<main>
  <h1 class='text-center'>Hello world!</h1>
  <h2 class='text-end'>teg h2</h2>
  <h3>vav! teg h3</h3>

  <hr />

  <div class='display-1 text-muted'>
    Hello world!
  </div>
  <div class='display-4'> teg h2</div>
  <div class='display-6'> vav! teg h </div>
  <hr />

  <span class='text-muted'> text is dodoatkovy</span>

  <hr />

  {{! <button class='btn btn-link'>
    <span class='text-uppercase display-4'>
      Text batton</span>
    <h1> Test</h1>
  </button> }}

  <div class='card'>
    <div class='card-body'>

      <a href='#' class='btn btn-link btn-outline-success'>
        <span class='text-uppercase display-6'>
          Text batton</span>
        <h2> Test</h2>
      </a>

      <a href='#' class='btn btn-primary'>
        <span class='text-uppercase display-6'>
          Text batton</span>
        <h2> Test</h2>
      </a>

    </div>
  </div>

  <p class='text-warning display-3'>My text</p>
  <hr />
  <p class='btn btn-outline-danger'> My outline button</p>
  <p class='btn btn-secondary btn-sm'> My small button</p>
  <p class='btn btn-secondary btn-lg'> My LARGE button </p>
  <hr />
  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>
  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      <p class='btn btn-outline-danger'>
        My outline button</p>
      <p class='btn btn-secondary btn-sm'>
        My small button</p>
      <p class='btn btn-secondary btn-lg'>
        My LARGE button
      </p>
    </div>
  </div>
</main>