<nav>
    {{> link href='/summary' text='Summary' line=true}}
    {{> link href="/skills" text="Skilss" line=true}}
    {{> link href="/education" text="Education" line=true}}
    {{> link href="/work" text="work" line=true }}
    {{> link href="/person" text="person" line=true noline=true}}
    <br>
    <hr>
</nav>