<nav>
    {{> link href='/summary' text='Summary' line=true}}
    {{> link href="/skills" text="Skilss" line=true}}
    {{> link href="/education" text="Education" line=true}}
    {{> link href="/work" text="work" line=true }}
    {{> link href="/person" text="person" line=true}}
    {{> link href="/bio" text="bio" line=true}}
    {{> link href="/program" text="program" line=true}}
    {{> link href="/js" text="js" line=true }}
    {{> link href="/car" text="car" line=true noline=true}}
    <br>
    <hr>
</nav>