<div>
  {{#if big}}
    <h2>{{data}}</h2>
  {{else}}
    <h3>{{data}}</h3>
  {{/if}}
</div>

<style>
  h2 {color: white;} h3 {color: blue;}
</style>

{{! якщо ми не вказуь Біг-Труе - тоді використовуються h3 }}